# Question 2-Part 1

In [21]:
import pandas as pd
infile = 'Data/employee_compensation.csv'
outfile1 = 'Data/employee_compensation_part1_result.csv'
outfile2 = 'Data/employee_compensation_part2_result.csv'
data=pd.read_csv(infile)

In [2]:
aggregations={'Total Compensation':'mean'}
data_agg=data.groupby(['Organization Group','Department'],as_index=False).agg(aggregations)
aggregationsmax={'Total Compensation':'max'}

In [3]:
#Highest paid department in each organization by Organization Group
organizationgrouptotalcompensation=data_agg.groupby(['Organization Group'], as_index=False).agg(aggregationsmax)

In [10]:
#Part one 2nd point
data_agg[data_agg['Total Compensation'].isin(organizationgrouptotalcompensation['Total Compensation'])]

,Organization Group,Department,Total Compensation
0,Community Health,Public Health,96190.190140
5,Culture & Recreation,Law Library,188424.362222
11,General Administration & Finance,City Attorney,166082.677561
24,General City Responsibilities,General Fund Unallocated,15824.151304
34,Human Welfare & Neighborhood Development,Rent Arbitration Board,102181.793941
38,Public Protection,Fire Department,180788.086979
55,"Public Works, Transportation & Commerce",Port,112139.680017

In [14]:
#g = data.groupby(['Organization Group','Department'],as_index=False).agg(aggregations)['Total Compensation'].groupby(level=0, group_keys=False)
data_agg1=data.groupby(['Organization Group','Department']).agg(aggregations)
g=data_agg1['Total Compensation'].groupby(level=0, group_keys=False)
res = g.apply(lambda x: x.order(ascending=False))

C:\Users\Sumeet\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: order is deprecated, use sort_values(...)

In [15]:
res.head()

Organization Group    Department
Community Health      Public Health           96190.190140
Culture & Recreation  Law Library            188424.362222
                      Academy of Sciences    107319.727692
                      Arts Commission         94339.597388
                      War Memorial            76250.068022
Name: Total Compensation, dtype: float64

In [17]:
abc=res.to_frame().reset_index()

In [20]:
abc.to_csv(outfile)

# Part 2

In [22]:
data2=data[data['Year Type'] =='Calendar']

In [23]:
aggregations={'Total Compensation':'mean','Salaries':'mean','Overtime':'mean','Other Salaries':'mean','Total Salary':'mean','Retirement':'mean',
             'Health/Dental':'mean','Other Benefits':'mean','Total Benefits':'mean'}

In [24]:
data3=data2.groupby(['Employee Identifier','Organization Group Code','Organization Group','Department Code','Department','Union Code','Union','Job Family Code','Job Family','Job Code','Job'],as_index=False).agg(aggregations)

In [27]:
data4 = data3[data3['Overtime']>0.5*data3['Salaries']]

In [29]:
aggregations1={'Total Benefits':'mean','Total Compensation':'mean'}

In [30]:
dataoutput2=data4.groupby('Job Family',as_index=False).agg(aggregations1)

In [31]:
dataoutput2['Percent_Total_Benefit']=(dataoutput2['Total Benefits']/dataoutput2['Total Compensation'])*100

In [32]:
dataoutput2.to_csv(outfile2)

In [35]:
dataoutput2.head()

,Job Family,Total Benefits,Total Compensation,Percent_Total_Benefit
0,Administrative-Labor & Trades,27672.545556,154626.281111,17.896405
1,Agriculture & Horticulture,1153.720000,4893.210000,23.577978
2,Airport Operation,3.042174,42.430870,7.169719
3,"Clerical, Secretarial & Steno",828.546899,3783.820921,21.897096
4,Computer Operatns & Repro Svcs,35118.797500,142298.042500,24.679747