# Question 4

In [116]:
import pandas as pd
infile = 'Data/movies_awards.csv'
outfile = 'Data/movies_awards_result.csv'
df = pd.read_csv(infile)

In [117]:
filtered_df = df['Awards']

In [118]:
#filtering out unnecessary columns and dropping NA
from pandas import Series, DataFrame
frame = DataFrame(filtered_df)
inp_frame = frame.dropna()
inp_frame.head()

                    Awards
3   1 win & 2 nominations.
4                   1 win.
5            1 nomination.
6  3 wins & 2 nominations.
7    1 win & 1 nomination.

In [119]:
#re-indexing and adding the required columns
out_frame = pd.concat([i, pd.DataFrame(columns = [ 'Awards_Won', 'Awards_Nominated','Prime_Awards_Nominated','Oscar_Awards_Nominated','Golden_Globe_Awards_Nominated','BAFTA_Awards_Nominated','Prime_Awards_Won','Oscar_Awards_Won','Golden_Globe_Awards_Won','BAFTA_Awards_Won'])])
out_frame = out_frame.reset_index()
del out_frame['index']

In [120]:
#regex to split the awards columns
import re
reg_ex = re.compile(r'\d+\s\w+\b')

In [135]:
#splitting and adding to respective columns of dataframe based on their condition
row_index = 0
for award in i['Awards']:
    if award.startswith("Nominated"):
        splits = reg_ex.findall(award)
        for split in splits:
            if 'win' in split:
                out_frame.set_value(row_index , 'Awards_Won', int(split.split()[0]))
            elif 'nomination' in split:
                out_frame.set_value(row_index , 'Awards_Nominated', int(split.split()[0]))
            elif 'Golden' in split:
                out_frame.set_value(row_index , 'Golden_Globe_Awards_Nominated', int(split.split()[0]))
            elif 'BAFTA' in split:
                out_frame.set_value(row_index , 'BAFTA_Awards_Nominated', int(split.split()[0]))
            elif 'Oscar' in split:
                out_frame.set_value(row_index , 'Oscar_Awards_Nominated', int(split.split()[0]))
            elif 'Primetime' in split:
                out_frame.set_value(row_index , 'Oscar_Awards_Nominated', int(split.split()[0]))
        row_index = row_index + 1
    elif award.startswith("Won"):
        splits = reg_ex.findall(award)
        for split in splits:
            if 'win' in split:
                out_frame.set_value(row_index , 'Awards_Won', int(split.split()[0]))
            elif 'nomination' in split:
                out_frame.set_value(row_index , 'Awards_Nominated', int(split.split()[0]))
            elif 'Golden' in split:
                out_frame.set_value(row_index , 'Golden_Globe_Awards_Won', int(split.split()[0]))
            elif 'BAFTA' in split:
                out_frame.set_value(row_index , 'BAFTA_Awards_Won', int(split.split()[0]))
            elif 'Oscar' in split:
                out_frame.set_value(row_index , 'Oscar_Awards_Won', int(split.split()[0]))
            elif 'Primetime' in split:
                out_frame.set_value(row_index , 'Oscar_Awards_Won', int(split.split()[0]))
        row_index = row_index + 1
    else:
        splits = reg_ex.findall(award)
        for split in splits:
            if 'win' in split:
                out_frame.set_value(row_index , 'Awards_Won', int(split.split()[0]))
            else:
                out_frame.set_value(row_index , 'Awards_Nominated', int(split.split()[0]))
        row_index = row_index + 1

In [137]:
#formatiing the output as required
output = out_frame.fillna(0)
output.head()

,Awards,Awards_Nominated,Awards_Won,BAFTA_Awards_Nominated,BAFTA_Awards_Won,Golden_Globe_Awards_Nominated,Golden_Globe_Awards_Won,Oscar_Awards_Nominated,Oscar_Awards_Won,Prime_Awards_Nominated,Prime_Awards_Won
0,1 win & 2 nominations.,2,1,0,0,0,0,0,0,0,0
1,1 win.,0,1,0,0,0,0,0,0,0,0
2,1 nomination.,1,0,0,0,0,0,0,0,0,0
3,3 wins & 2 nominations.,2,3,0,0,0,0,0,0,0,0
4,1 win & 1 nomination.,1,1,0,0,0,0,0,0,0,0

In [138]:
#saving the result in csv file
output.to_csv(outfile)