# QUESTION 1-PART 2

In [63]:
import pandas as pd
from pandas import DataFrame, Series
infile = 'Data/vehicle_collisions.csv'
outfile1 = 'Data/vehicle_collisions_result_part1.csv'
outfile2 = 'Data/vehicle_collisions_result_part2.csv'
df = pd.read_csv(infile, parse_dates=[1])

In [64]:
#taking the records from 2016 and keeping required columns only
mask = (df['DATE'] >= '2016-1-1') & (df['DATE'] <= '2016-12-31')
frame = df.loc[mask]
i = frame[['DATE','BOROUGH']]

In [65]:
#calculating the NYC column count
nyc = i.groupby([i['DATE'].dt.month]).agg({'count'})
n = nyc[nyc.columns[0]]

In [66]:
#calculating the Manhattan column count
manhattan = i.groupby([i['DATE'].dt.month, i['BOROUGH'] == 'MANHATTAN'], as_index=True ).agg({'count'}).unstack()
m = manhattan[manhattan.columns[1]]

In [67]:
#formating the output in desired format
output_1 = DataFrame()
output_1['MANHATTAN'] = m
output_1['NYC'] = n
output_1['PERCENTAGE'] = (m/n)
output_1['MONTH'] = values=['Jan','Feb', 'Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
output_1.set_index('MONTH', inplace=True)
output_1.head()

       MANHATTAN    NYC  PERCENTAGE
MONTH
Jan         3178  18101    0.175570
Feb         3195  15985    0.199875
Mar         3479  18471    0.188349
Apr         3540  18331    0.193115
May         3432  20052    0.171155

In [68]:
#saving the result in csv file
output_1.to_csv(outfile1)

# QUESTION 1-PART 2

In [69]:
# taking only those columns that are required and replacing notnull cells with value 1 and calculating total across
part2 = df[['BOROUGH', 'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE','VEHICLE 5 TYPE']]
part2.loc[part2['VEHICLE 1 TYPE'].notnull(), 'VEHICLE 1 TYPE'] = 1
part2.loc[part2['VEHICLE 2 TYPE'].notnull(), 'VEHICLE 2 TYPE'] = 1
part2.loc[part2['VEHICLE 3 TYPE'].notnull(), 'VEHICLE 3 TYPE'] = 1
part2.loc[part2['VEHICLE 4 TYPE'].notnull(), 'VEHICLE 4 TYPE'] = 1
part2['TOTAL'] = part2.drop(['BOROUGH'], axis=1).count(axis=1)

C:\Users\Sumeet\Anaconda3\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Sumeet\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Sumeet\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Sumeet\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Sumeet\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Sumeet\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
# Grouping by borough and saving the result in the desired format
y = part2.groupby(['BOROUGH','TOTAL']).size()
u = DataFrame(y)
out = u.unstack()
output_2 = DataFrame()
output_2['ONE_VECHICLE_INVOLVED'] = out[0,1]
output_2['TWO_VECHICLE_INVOLVED'] = out[0,2]
output_2['THREE_VECHICLE_INVOLVED'] = out[0,3]
output_2['MORE_VECHICLE_INVOLVED'] = out[0,0] + out[0,4] + out[0,5]

In [72]:
# Saving the result in csv file
output_2.to_csv(outfile2)
output_2

,ONE_VECHICLE_INVOLVED,TWO_VECHICLE_INVOLVED,THREE_VECHICLE_INVOLVED,MORE_VECHICLE_INVOLVED
BOROUGH,,,,
BRONX,8627,34385,1962,1150
BROOKLYN,17375,80207,4980,2399
MANHATTAN,13318,66958,2024,1302
QUEENS,12962,70260,4498,1935
STATEN ISLAND,2343,10676,759,270